.Header{
    display: flex;
    justify-content: space-around;
    background-color: darkgray;
    align-items: center;
    height: 50px;
}
.Header a{
    text-decoration: none;
    font-size: 30px;
}
.Header a:hover{
    text-decoration: underline;
    color: black;
}
